/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
  	box-sizing: border-box;
  }

  html {
  	height: 100%;
  }

  body {
  	height: 100%;
    background-color: #0B0B61;
  //  background: -webkit-linear-gradient(90deg, #4000FF 10%, #FA5858 90%);
  //  background:    -moz-linear-gradient(90deg, #4000FF 10%, #FA5858 90%);
  //  background:     -ms-linear-gradient(90deg, #4000FF 10%, #FA5858 90%);
  //  background:      -o-linear-gradient(90deg, #4000FF 10%, #FA5858 90%);
  //  background:         linear-gradient(90deg, #4000FF 10%, #FA5858 90%);
    font-family: 'Lato', sans-serif;
  }
  .fixed {
  position: absolute;
  top: 30.5px;
  bottom: 0;
  right:  50px;
  //width: 3px;
  //height: 50px;
}

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .navbar-default {
  	background-color: yellow;
  	border-radius: 0;
  	height: 80px;
  	padding: 15px 0;
  	border: none;
  }

  .navbar-brand {
  	text-transform: uppercase;
  	letter-spacing: -1px;
  	font-size: 2em;
  	font-weight: 300;
  	color: #0B0B61 !important;
  }

  #products {
  	.product {
  		padding: 1em 0;

      .image {
		    max-width: 200px;
        max-height: 200px;
        width: auto;
        height: auto;
		    border-radius: 10px 10px 10px 10px;
		    overflow: hidden;

      }

      img {
		          width: 100%;
		          -webkit-transition: all .3s ease-out;
	        -moz-transition: all .3s ease-out;
	        -o-transition: all .3s ease-out;
       transition: all .3s ease-out;
		          &:hover {
			                transform: scale(1.075);
		          }
      }
  		h2 {
  			font-size: 2.5em;
  			font-weight: 300;
  			margin-bottom: 0;
  			color: white;
  			a {
  				color: white;
  			}
  		}
  		p {
  			color: rgba(250,250,250, 0.5);
        font-size: 20px;
        margin-bottom: 0;
  		}

      .form-inputs{
        color: white;
      }

  	}
  }

  a:link, a:visited {
    color: #0B0B61;
  	text-decoration: none
  	}
  a:hover {
  	text-decoration: none;
  	color: #0B0B61;
  	}
  a:active {
   color: #0B0B61;
  	text-decoration: none
  	}

  #links {
  	margin-top: 2em;
  }
