= simple_form_for(@product, html: { class: 'form-horizontal'}) do |f|
  = f.collection_select :category_id, Category.all, :id, :name, {pront: "Escolha uma categoria" }
  = f.input :name, label: "Nome"
  = f.input :price, label: "Preço"
  = f.input :mark, label: "Marca"
  = f.input :image
  %br/
  = f.button :submit
