.row
  #products
    - @products.each do |product|
      .col-md-3
        .product
          .image
            = link_to product do
              = image_tag product.image.url(:medium)
          .product
          %h2= link_to product.name, product
          %p= product.mark
          %p= product.price

        = form_for(@order_item, remote: true) do |f|
          = f.hidden_field :product_id, value: product.id
          .form-group
            = f.text_field :quantity, value: 1, min: 1, class: 'form-control'
          = f.submit "Adicionar ao carrinho", class: 'btn btn-primary btn-sm'
