#products
  - @products.each do |product|
    .col-md-3
      .product
        .image
          = link_to product do
            = image_tag product.image.url(:medium)

        %h2= link_to product.name, product
        %p= product.mark
        %p= product.price
