#products
  .product
    .image
      = image_tag @product.image.url(:medium, class: "product_image")
  .product
    %h2= @product.name
    %p= @product.mark
    %p= @product.price

= link_to "Home", products_path, class: "btn btn-sn btn-default"
- if current_user && current_user.admin
  = link_to "Editar", edit_product_path(@product), class: "btn btn-sn btn-default"
  = link_to "Deletar", product_path(@product), method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-sn btn-default"
