#products
  .product
    %h2 Supermarket

- if current_user
  = link_to 'Sair', destroy_user_session_path, method: :delete
- else
  = link_to 'Registrar', new_user_registration_path, class: "btn btn-sn btn-default"
  = link_to 'Entrar', new_user_session_path, class: "btn btn-sn btn-default"

- if current_user && current_user.admin
  = link_to 'Ir as compras', products_path
