- if !@order_item.nil? && @order_item.errors.any?
  %ul
    - @order_item.errors.full_messages.each do |msg|
      %li= msg
- if @order_items.size>0
  - @order_items.each do |item|
    .well
      .row
        .col-sm-8
          %h3= item.product.name
        .col-sm-4
          .pull-right
            = form_for(item, remote: true) do |f|
              = f.hidden_field :product_id, value: item.product.id
              %h5= item.product.price
              .form-group
                = f.text_field :quantity, value: item.quantity.to_i, min: 1, class: 'form-control'
              .btn-group
                = f.submit "Adicionar", class: 'btn btn-primary'
                = link_to "Deletar", item, method: :delete, remote: true, class: 'btn btn-danger'
              %span
                Valor: R$
                = item.total_price
- else
