!!!
%html
%head
  %title Supermarket
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  - if current_user
    %nav.navbar.navbar-default
      .container
        .navbar-brand Compras
        %ul.nav.navbar-nav
          %li= link_to "Home", products_path

          - Category.all.each do |category|
            %li= link_to category.name, products_path(category: category.name)
          .fixed
            = link_to 'Sair', destroy_user_session_path, method: :delete

          %li.active.cart
            = render 'layouts/cart'
        - if current_user && current_user.admin
          = link_to "Novo Produto", new_product_path, class: "navbar-text navbar-right navbar-link"

        = form_tag search_products_path, method: :get, class: "navbar-form navbar-left", role: "search" do
          = text_field_tag :search, params[:search], class: "form-control", placeholder: "Pesquisar"

  - else
    = render 'pages/inicio'
  .container
    = render 'layouts/alerts'
    = yield
