%p
  Hello #{@resource.email}!
%p We're contacting you to notify you that your password has been changed.
/<p>Hello <%= @resource.email %>!</p>

/<p>We're contacting you to notify you that your password has been changed.</p>
